body{
}

.título{padding: 16px;}

.imagem{width: 100%;}

.principal{background-color: gray;
    text-align: center;}

.Destaque {color:red;}

.Beneficios{text-align: center;}

.imagem-benefício{width: 50%;}

.lista{ display: inline-block; 
vertical-align: top;}
